<h1>Transaction <%= @transaction.id %></h1>
<ul>

    <p>Merchant: <%= @transaction.merchant.name %></p>
    <p>Amount: £<%= @transaction.amount %></p>
    <p>Tags: <%= @transaction.tag.type %></p>
    <p>
      <a href="/transactions/<%= @transaction.id %>/edit">Edit</a>
    <p>
      <form method="POST" action="/transactions/<%= @transaction.id %>/delete">
        <input class="button" type="submit" value="delete">
      </form>
    <br>

</ul>
